<a href="https://colab.research.google.com/github/JavZon/Working_with_files2/blob/main/DF_to_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [5]:

!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
!unzip "chinook.zip"

--2024-03-04 10:59:51--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 104.21.30.141, 172.67.172.250, 2606:4700:3037::ac43:acfa, ...
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|104.21.30.141|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip.1’

chinook.zip.1       100%[===================>] 298.43K   723KB/s    in 0.4s

2024-03-04 10:59:52 (723 KB/s) - ‘chinook.zip.1’ saved [305596/305596]

Archive:  chinook.zip
  inflating: chinook.db

In [12]:
columns = ['EmployeeID', 'First_Name', 'Last_Name', 'BornYear', 'Position', 'Salary', 'Phone']
data = {
    'EmployeeID': np.random.randint(1000, 9999, size=20),
    'First_Name': [np.random.choice(['John', 'Alice', 'Michael', 'Emma', 'David']) for _ in range(20)],
    'Last_Name': [np.random.choice(['Smith', 'Johnson', 'Williams', 'Brown', 'Jones']) for _ in range(20)],
    'BornYear': np.random.randint(1970, 2000, size=20),
    'Position': [np.random.choice(['Manager', 'Developer', 'Designer', 'Analyst','IT Staff']) for _ in range(20)],
    'Salary': np.random.randint(30000, 100000, size=20),
    'Phone': [''.join(np.random.choice([str(num) for num in range(10)], size=10)) for _ in range(20)],

}

In [13]:
df = pd.DataFrame(data, columns=columns)
df

    EmployeeID First_Name Last_Name  BornYear   Position  Salary       Phone
0         9524      Alice  Williams      1974  Developer   57356  1602426661
1         7053    Michael  Williams      1975   IT Staff   47976  1610743441
2         5471    Michael  Williams      1971    Analyst   37151  1582336489
3         9003       John     Brown      1984   IT Staff   64882  1467309307
4         4531      Alice   Johnson      1970    Analyst   77645  1284134530
5         4060      Alice     Brown      1989  Developer   81670  0034974758
6         6801       Emma   Johnson      1984   IT Staff   77004  6096624347
7         3161    Michael  Williams      1980    Manager   46611  1745649274
8         5562       John     Brown      1998   IT Staff   70892  6906023404
9         2056       Emma   Johnson      1999   IT Staff   48122  6058347146
10        6609      Alice  Williams      1994   IT Staff   57791  0788041908
11        5375      David     Brown      1999    Analyst   58522  9522557316
12        3865      Alice  Williams      1991    Analyst   98424  3156295729
13        1549      Alice  Williams      1996   IT Staff   93564  0416956796
14        4334      David  Williams      1970   Designer   38473  7129052073
15        5723      David     Jones      1981   Designer   35170  1748713677
16        1449      David     Smith      1970    Analyst   86423  8490551438
17        7215      Alice     Jones      1998   IT Staff   64960  5879768214
18        5295       John  Williams      1993   IT Staff   54691  5520279425
19        2980    Michael     Brown      1994   IT Staff   94807  7038143957

In [14]:
db=sql.connect('example.db')
cursor=db.cursor()

In [15]:
df.head()

   EmployeeID First_Name Last_Name  BornYear   Position  Salary       Phone
0        9524      Alice  Williams      1974  Developer   57356  1602426661
1        7053    Michael  Williams      1975   IT Staff   47976  1610743441
2        5471    Michael  Williams      1971    Analyst   37151  1582336489
3        9003       John     Brown      1984   IT Staff   64882  1467309307
4        4531      Alice   Johnson      1970    Analyst   77645  1284134530

In [17]:
df.to_sql('employees',db)

ValueError: Table 'employees' already exists.

In [19]:
query="SELECT name FROM sqlite_master WHERE type='table'"
cursor.execute(query)
cursor.fetchall()

[('employees',)]

In [20]:
q2="SELECT COUNT(*) FROM employees"
cursor.execute(q2)
cursor.fetchall()

[(20,)]

In [21]:
q2="PRAGMA table_info(employees)"
cursor.execute(q2)
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'EmployeeID', 'INTEGER', 0, None, 0),
 (2, 'First_Name', 'TEXT', 0, None, 0),
 (3, 'Last_Name', 'TEXT', 0, None, 0),
 (4, 'BornYear', 'INTEGER', 0, None, 0),
 (5, 'Position', 'TEXT', 0, None, 0),
 (6, 'Salary', 'INTEGER', 0, None, 0),
 (7, 'Phone', 'TEXT', 0, None, 0)]

In [26]:
query="SELECT * FROM employees WHERE BornYear>1980 AND Position ='IT Staff' ORDER by BornYear "
df=pd.read_sql(query, db, index_col='index')
df

       EmployeeID First_Name Last_Name  BornYear  Position  Salary       Phone
index
3            9003       John     Brown      1984  IT Staff   64882  1467309307
6            6801       Emma   Johnson      1984  IT Staff   77004  6096624347
18           5295       John  Williams      1993  IT Staff   54691  5520279425
10           6609      Alice  Williams      1994  IT Staff   57791  0788041908
19           2980    Michael     Brown      1994  IT Staff   94807  7038143957
13           1549      Alice  Williams      1996  IT Staff   93564  0416956796
8            5562       John     Brown      1998  IT Staff   70892  6906023404
17           7215      Alice     Jones      1998  IT Staff   64960  5879768214
9            2056       Emma   Johnson      1999  IT Staff   48122  6058347146

In [3]:
import sqlite3 as sql
import pandas as pd
conn=sql.connect('my-data-base')
cursor=conn.cursor()

In [5]:
dict1={
    'Name':['Gogh','Didi', 'Mamash','Qalangi','Bobo'],
    'Country':['Netherlands','Indonesia','Georgia','Turkmensitan','Austria'],
    'Age':[25,36,23,49,33],
    'Position':['IT Staff', 'Sales Manager','General Manager','Analist','Coder'],
    'Salary':[47000,35000,36000,78000,54000]
}
df2=pd.DataFrame(dict1)
df2

      Name       Country  Age         Position  Salary
0     Gogh   Netherlands   25         IT Staff   47000
1     Didi     Indonesia   36    Sales Manager   35000
2   Mamash       Georgia   23  General Manager   36000
3  Qalangi  Turkmensitan   49          Analist   78000
4     Bobo       Austria   33            Coder   54000

In [7]:
df2.to_sql('ishchilar',conn)

5

In [8]:
query="SELECT name FROM sqlite_master WHERE type='table'"
cursor.execute(query)
cursor.fetchall()

[('ishchilar',)]

In [9]:
query="SELECT COUNT(*) FROM ishchilar"
cursor.execute(query)
cursor.fetchall()

[(5,)]

In [10]:
query="PRAGMA table_info(ishchilar)"
cursor.execute(query)
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Name', 'TEXT', 0, None, 0),
 (2, 'Country', 'TEXT', 0, None, 0),
 (3, 'Age', 'INTEGER', 0, None, 0),
 (4, 'Position', 'TEXT', 0, None, 0),
 (5, 'Salary', 'INTEGER', 0, None, 0)]

In [11]:
query="SELECT * FROM ishchilar WHERE Salary > 40000 ORDER BY Country DESC"

df=pd.read_sql(query, conn)
df

   index     Name       Country  Age  Position  Salary
0      3  Qalangi  Turkmensitan   49   Analist   78000
1      0     Gogh   Netherlands   25  IT Staff   47000
2      4     Bobo       Austria   33     Coder   54000